$color-white: #fef9ff;
$color-blue: #4285f5;
$color-silver: #bdbdbd;
$color-silver-dark: #8d8d8d;
$color-blue-gray: #8aacc8;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}
